body{
	padding:8% 5%;
}
h1{
	font-size: .18rem;
	color: #333;
	text-align: center;
}
h2{
	font-size: .17rem;
	color:#555;
	margin-top: 3%;
}
h3{
	font-size: .16rem;
	color:#777;
	margin-top: 3%;
}
h4{
	font-size: .15rem;
	color:#888;
	margin-top: 3%;
}
p{
	font-size: .14rem;
	color: #999;
	line-height: 26px;
}